<ion-content >
  <ion-card class="area-texto">
    <div class="logo-area">
      <ion-button shape="round" fill="clear" (click)="cerrarModal()" class="boton-cerrar">
        <ion-icon
          slot="icon-only"
          size="large"
          name="close-circle-sharp"
        ></ion-icon>
      </ion-button>
      <ion-avatar *ngIf="empresa.logo;else sinLogo" class="card-avatar">
        <img [src]="empresa.logo" class="card-logo">
      </ion-avatar>
      <ng-template #sinLogo>
        <ion-avatar>
          <img src="../../../assets/placeholder.png" class="card-logo">
        </ion-avatar>
      </ng-template>
    </div>

    <ion-card-title>Empresa: {{ empresa.nombreEmpresa }}</ion-card-title>
    <ion-card-content>Pregunta: {{ encuesta.pregunta }}</ion-card-content>
    
    <div id="qr" class="qr">
      <qr-code value="{{ encuesta.id }}" size="250" errorCorrectionLevel="M" />
      <ion-card-subtitle>Id Encuesta: {{ encuesta.id }}</ion-card-subtitle>
    </div>
    <div >
      <button style="margin: 0 auto; display: block;" 
      (click)="capturarQR()">Compartir QR</button>
    </div>
  </ion-card>
</ion-content>
