<ion-content>
  <app-header titulo="Encuesta"></app-header>
  <form [formGroup]="encuesta">
    <ion-list class="ion-text-center">
      <!--Tipo de opinión-->
      <ion-item class="ion-text-center">
        <ion-label>¿Cómo se siente con respecto a la empresa?: </ion-label>
      </ion-item>
      <div id="emoji">
        <input
          formControlName="tipoDeOpinion"
          type="radio"
          id="feliz"
          value="1"
        /><label for="feliz">😁</label>

        <input
          formControlName="tipoDeOpinion"
          type="radio"
          id="triste"
          value="2"
        /><label for="triste">😢</label>

        <input
          formControlName="tipoDeOpinion"
          type="radio"
          id="enojado"
          value="3"
        /><label for="enojado">😡</label>

      </div>
      <!--Comentario-->
      <ion-item>
        <ion-textarea
          formControlName="comentario"
          label="Dejenos su comentario:"
          labelPlacement="stacked"
          [counter]="true"
          maxlength="100"
          helperText="Largo máximo 100"
          [counterFormatter]="customCounterFormatter"
        >
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-avatar *ngIf="encuesta.value.evidencia">
          <img [src]="encuesta.value.evidencia" />
        </ion-avatar>
        <ion-button
          color="primary"
          shape="round"
          fill="outline"
          (click)="evidencia()"
          >Sube tu evidencia!</ion-button
        >
      </ion-item>

      <ion-item>
        <ion-button
          color="primary"
          shape="round"
          fill="outline"
          class="enviar"
          (click)="submit()"
          [disabled]="!encuesta.valid"
          >Enviar</ion-button
        >
      </ion-item>
    </ion-list>
  </form>
</ion-content>
