ion-item,
ion-button {
  font-size: 2.5vh;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#emoji {
  font-size: 8vh;
  text-align: center;
}

#emoji input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

#emoji input[type="radio"]:checked + label {
  filter: grayscale(0%);
}

#emoji input[type="radio"]:hover + label {
  filter: grayscale(0%);
}

label {
  filter: grayscale(100%);
  transition: all 0.5s ease;
  transition: border 0.2s ease;
}

#resultado {
  background: orange;
  padding: 3px;
  color: white;
  border-radius: 30px;
}

ion-item {
  padding-bottom: 3vh;
}

ion-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-title {
  text-align: center;
  font-size: 3vh;
}

input{ 
  .text-input{ text-align: center; }
}

.botones {
  display: flex;
  justify-content: space-evenly; /* O space-between, depende del efecto deseado */
  width: 100%; /* Asegura que ocupen todo el ancho disponible */
}