<ion-content>
  <div class="page-logo-area">
    <ion-button
      shape="round"
      fill="clear"
      (click)="cerrarModal()"
      class="boton-cerrar"
    >
      <ion-icon
        slot="icon-only"
        size="large"
        name="close-circle-sharp"
      ></ion-icon>
    </ion-button>
    <ion-avatar class="card-avatar">
      <img src="../../../assets/logo.png" class="card-logo" />
    </ion-avatar>
    <ion-card-title *ngIf="encuesta">Encuesta {{empresa.nombreEmpresa}}</ion-card-title>
  </div>
  <ion-card class="area-texto">

    <form [formGroup]="encuestaForm">
      <!--Tipo de opinión-->

      <ion-card-content>{{encuesta.pregunta}}</ion-card-content>
      <div id="emoji">
        <input
          formControlName="tipoDeOpinion"
          type="radio"
          id="feliz"
          value="1"
          name="emoji"
        /><label for="feliz">😁</label>

        <input
          formControlName="tipoDeOpinion"
          type="radio"
          id="triste"
          value="2"
          name="emoji"
        /><label for="triste">😢</label>

        <input
          formControlName="tipoDeOpinion"
          type="radio"
          id="enojado"
          value="3"
          name="emoji"
        /><label for="enojado">😡</label>
      </div>
      <!--Comentario-->

      <ion-textarea
        formControlName="comentario"
        label="Dejenos su comentario:"
        labelPlacement="stacked"
        [counter]="true"
        maxlength="100"
        helperText="Largo máximo 100"
        [counterFormatter]="customCounterFormatter"
      >
      </ion-textarea>

      <div class="botones">
        <ion-avatar *ngIf="encuestaForm.value.evidencia;else placeholder">
          <img [src]="encuestaForm.value.evidencia" class="input-logo" />
        </ion-avatar>
        <ng-template #placeholder>
          <ion-avatar>
            <img src="../../../assets/placeholder.png" class="input-logo" />
          </ion-avatar>
        </ng-template>
        <button style="background: #ff932b" (click)="evidencia()">
          Sube tu evidencia!
        </button>
        <button
          style="background: #02e7d0"
          (click)="submit()"
          [disabled]="!encuestaForm.valid"
        >
          Enviar
        </button>
      </div>
    </form>
  </ion-card>
</ion-content>
