*{
    margin: 0;
    padding: 0;
}

ion-card-content{
    justify-content: center;
    text-align: center;
}

#emoji{
    font-size: 9vh;
}

#emoji input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
}

#emoji input[type="radio"]:checked + label{
    filter: grayscale(0%);
}

#emoji input[type="radio"]:hover + label{
    filter:grayscale(0%)
}

label{
    filter: grayscale(100%);
    transition: all 0.5s ease;
    transition: border 0.2s ease;
}

#resultado{
    background: orange;
    padding: 3px;
    color: white;
    border-radius: 30px;
}

.logo{
    height: 4vh;
    border-radius: 50%;
  }