ion-item,
ion-button {
  font-size: 2.5vh;
}

form {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#emoji {
  font-size: 8vh;
  text-align: center;
}

#emoji input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

#emoji input[type="radio"]:checked + label {
  filter: grayscale(0%);
}

#emoji input[type="radio"]:hover + label {
  filter: grayscale(0%);
}

label {
  filter: grayscale(100%);
  transition: all 0.5s ease;
  transition: border 0.2s ease;
}

input{ 
  .text-input{ text-align: center; }
}

.botones {
  display: flex;
  justify-content: space-evenly; 
  width: 100%; 
}

ion-card-title {
  color: white;
  font-size: 2rem;
}