* {
  font-size: 1.5rem;
}

button {
    width: 9em;
    padding: 0.5em; /* Ajusta el tamaño de los botones */
    font-size: 1.2em;
    text-align: center;
    margin: 0 auto;
    display: block;
  }