<ion-content>
  <app-header titulo=""></app-header>
  <ion-card class="page-card">
    <form [formGroup]="registroEmpresa">
      <ion-card-title>Registra una empresa</ion-card-title>
      <!--Empresa-->
      <label>Ingrese el nombre de la empresa:</label>
      <ion-input
        formControlName="nombreEmpresa"
        type="text"
        minlength="1"
        errorText="Nombre inválido."
        helperText="---"
      ></ion-input>

      <ion-grid>
        <ion-row>
          <ion-col col="4">
            <!--Logo-->
            <ion-avatar
              *ngIf="registroEmpresa.value.logo; else placeHolder" class="card-avatar">
              <img [src]="registroEmpresa.value.logo" class="input-logo" />
            </ion-avatar>
            <ng-template #placeHolder>
              <ion-avatar class="card-avatar">
                <img src="../../../assets/placeholder.png" class="input-logo" />
              </ion-avatar>
            </ng-template>
          </ion-col>

          <ion-col col="4">
            <!--Botón subir logo-->
            <button (click)="logo()" style="background: #ff932b;">
              Sube tu logo <ion-icon name="arrow-up-circle-outline"></ion-icon>
            </button>
          </ion-col>

          <ion-col col="4">
            <!--Botón Registrar-->
            <button (click)="submit()" style="background: #00bd94;">
              Registrar <ion-icon name="add-circle-outline"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
