<ion-content>
  <!--Titulo-->
  <ion-item class="ion-text-center">
    <ion-title>Modificar Admin</ion-title>
    <ion-button shape="round" fill="clear" (click)="cerrarModal()">
      <ion-icon
        color="danger"
        slot="icon-only"
        size="large"
        name="close-circle-outline"
      ></ion-icon>
    </ion-button>
  </ion-item>
  <!--Logo-->
  <ion-item>
    <img class="logo" alt="..." src="assets/logo.png" />
  </ion-item>
  <form [formGroup]="modificarAdmin">
    <!--Correo-->
    <ion-item>
      <ion-input
        formControlName="email"
        label="Ingrese su usuario: "
        labelPlacement="stacked"
        minlength="3"
        maxlength="25"
        errorText="Usuario inválido."
        helperText="Largo entre 3 y 8"
      >
      </ion-input>
    </ion-item>
    <!--Empresa-->
    <!--Empresa-->
    <ion-item>
      <ion-select
        formControlName="empresa"
        interface="popover"
        placeholder="Seleccione la empresa:"
      >
        <ion-select-option *ngFor="let e of empresas" value="{{ e.id }}">
          {{ e.nombreEmpresa }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col col="4">
            <ion-button
              color="dark"
              shape="round"
              fill="outline"
              (click)="submit()"
              [disabled]="!modificarAdmin.valid"
              >Modificar</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-content>
