<ion-content>
  <!--Titulo-->
  <div class="logo-area">
    <ion-button
      shape="round"
      fill="clear"
      (click)="cerrarModal()"
      class="boton-cerrar"
    >
      <ion-icon
        slot="icon-only"
        size="large"
        name="close-circle-sharp"
      ></ion-icon>
    </ion-button>
    <ion-avatar class="card-avatar">
      <img src="../../../assets/logo.png" class="card-logo" />
    </ion-avatar>
  </div>
  <ion-card class="area-texto">
    <ion-card-title>Modificar Admin</ion-card-title>

    <form [formGroup]="modificarAdmin">
      <!--Correo-->
      <label>Ingrese su usuario:</label>
      <ion-input
        formControlName="email"
        minlength="3"
        maxlength="25"
        errorText="Usuario inválido."
        helperText="Largo entre 3 y 8"
      ></ion-input>

      <!--Empresa-->
      <ion-select
        formControlName="empresa"
        interface="popover"
        placeholder="Seleccione la empresa:"
      >
        <ion-select-option *ngFor="let e of empresas" value="{{ e.id }}">
          {{ e.nombreEmpresa }}
        </ion-select-option>
      </ion-select>

      <button (click)="submit()" class="enviar" [disabled]="!modificarAdmin.valid">
        Modificar
      </button>
    </form>
  </ion-card>
</ion-content>
