* {
  font-size: 1.5rem;
}

a {
  font-size: 1rem;
}

a:hover {
  cursor: pointer;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

ion-col {
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}

button {
  width: 6em;
  padding: 0.5em; /* Ajusta el tamaño de los botones */
  font-size: 1.2em;
  text-align: center;
}

