<ion-content>
  <app-header titulo="Login"></app-header>
  <ion-card>
    <!--Logo-->
    <ion-item>
      <img class="logo" alt="..." src="assets/logo.png" />
    </ion-item>
    <!--Input de usuario, con restricción de largo, mensaje de ayuda y de error-->
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-input
          formControlName="email"
          label="Ingrese su usuario: "
          labelPlacement="stacked"
          minlength="3"
          maxlength="25"
          errorText="Usuario inválido."
          helperText="Largo entre 3 y 8"
          [required]="true"
        >
        </ion-input>
      </ion-item>
      <!--Input de contraseña, con restricción de largo, mensaje de ayuda y de error-->
      <ion-item>
        <ion-input
          formControlName="password"
          label="Ingrese su contraseña:"
          labelPlacement="stacked"
          type="password"
          minlength="6"
          maxlength="20"
          errorText="Contraseña inválida."
          helperText="Largo 4"
        >
        </ion-input>
      </ion-item>
      <!--Link a página de recuperación de contraseña-->
      <ion-item>
        <a (click)="recordarContrasena()" style="color: #ff8728;">¿Olvidaste tu contraseña?</a>
      </ion-item>
      <!--Botón login/registro con google-->
      <ion-item>
        <app-google-button (click)="loginGoogle()"></app-google-button> &nbsp;&nbsp;
        <app-boton texto="Registro" icono="person-add-outline" (click)="registroCliente()"></app-boton>
      </ion-item>
      <!--Boton 'Ingresar', centrado con grid, con función login() Que de momento solo acepta usuario: admin contraseña: 1234-->
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col col="4">
            <ion-button
              color="dark"
              shape="round"
              fill="outline"
              (click)="submit()"
              [disabled]="!loginForm.valid"
              >Ingresar</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
