* {
  font-size: 2.5vh;
}

ion-item {
  padding-bottom: 1vh;
  padding-top: 1vh;
}

ion-button {
  min-width: 25vw;
  --background: #00446d;
  color: white;
}

ion-title {
  text-align: center;
  font-size: 3vh;
}

a:hover{
  cursor: pointer;
}

ion-button{
  --color: "dark"

}