<ion-content>
  <ion-card>

    <ion-thumbnail>
      <img alt="..." src="assets/logo.png" />
    </ion-thumbnail>

    <ion-item>
      <ion-input [(ngModel)]="usuario"
        label="Ingrese su usuario: "
        minlength="3" 
        maxlength="8"   
        errorText="Usuario inválido."
        helperText="Largo entre 3 y 8"
        ngModel>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="contrasena"
        label="Ingrese su contraseña:" 
        type="password" 
        maxlength="4"
        errorText="Contraseña inválida."
        helperText="Largo 4"
      ></ion-input>
    </ion-item>

    <ion-item>
      <a [routerLink]="['/recordar']">¿Olvidate tu contraseña?</a>
    </ion-item>
      
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col col="4">
          <ion-button (click)="login()" size="default">Ingresar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>