<ion-content>
  <app-header titulo="Empresas"></app-header>

  <ion-card>
    <table class="filtros">
      <thead>
        <tr>
          <th scope="col">
            <ion-button (click)="getEmpresas()" expand="full" color="warning">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              Todos</ion-button>
          </th>
          <th scope="col">
            <ion-button (click)="getEmpresasAprobadas()" expand="full" color="success">
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              Aprobados</ion-button>
          </th>
          <th scope="col">
            <ion-button (click)="getEmpresasEspera()" expand="full" color="danger">
              <ion-icon name="ellipsis-horizontal-circle-outline" slot="start"></ion-icon>
              En espera</ion-button>
          </th>
        </tr>
      </thead>
    </table>
    <div *ngIf="loadingData">Cargando datos...</div>

    <div *ngIf="!loadingData">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Logo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr class="row" *ngFor="let e of empresas">
            <td class="col">
              <ion-avatar *ngIf="e.logo; else sinImagen">
                <img [src]="e.logo" />
              </ion-avatar>
              <ng-template #sinImagen>
                <ion-avatar slot="start">
                  <img src="../../../assets/placeholder.png" />
                </ion-avatar>
              </ng-template>
            </td>

            <td class="col">
              {{ e.nombreEmpresa }}
            </td>

            <td class="col" *ngIf="e.estado == 0; else enEspera">
              Aprobado
            </td>
            <ng-template #enEspera>
              <td class="col">
                En espera
            </td>
            </ng-template>
            
            <td class="col">
              <ion-button color="warning" (click)="mostrarModificarEmpresa(e)"
                >Modificar</ion-button>
              <ion-button color="danger" (click)="confirmarEliminarEmpresa(e)" 
                >Eliminar</ion-button>
              <ion-button *ngIf="e.estado == 1" color="success" (click)="aprobarEmpresa(e)"
                >Aprobar</ion-button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-card>
</ion-content>
