<ion-content>
  <app-header titulo="Empresas"></app-header>

  <ion-card>
    <table class="filtros">
      <thead>
        <tr>
          <!--
          <th scope="col">
            <button (click)="getEmpresas()" style="background: khaki;">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>
              Todos</button>
          </th>
          <th scope="col">
            <button (click)="getEmpresasAprobadas()" style="background: orange;">
              <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
              Aprobados</button>
          </th>
          <th scope="col">
            <button (click)="getEmpresasEspera()" style="background: orangered;">
              <ion-icon name="ellipsis-horizontal-circle-outline" slot="start"></ion-icon>
              En espera</button>
          </th>-->
        </tr>
      </thead>
    </table>
    <div *ngIf="loadingData">Cargando datos...</div>

    <div *ngIf="!loadingData">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Logo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr class="row" *ngFor="let e of empresas">
            <td class="col">
              <ion-avatar *ngIf="e.logo; else sinImagen">
                <img [src]="e.logo" />
              </ion-avatar>
              <ng-template #sinImagen>
                <ion-avatar slot="start">
                  <img src="../../../assets/placeholder.png" />
                </ion-avatar>
              </ng-template>
            </td>

            <td class="col">
              {{ e.nombreEmpresa }}
            </td>

            <td class="col" *ngIf="e.estado == 0; else enEspera">
              Aprobado
            </td>
            <ng-template #enEspera>
              <td class="col">
                En espera
            </td>
            </ng-template>
            
            <td class="col">
              <button style="background: yellow;" (click)="mostrarModificarEmpresa(e)"
                >Modificar</button>
              <button style="background: red;" (click)="confirmarEliminarEmpresa(e)" 
                >Eliminar</button>
              <button style="background: greenyellow;" *ngIf="e.estado == 1" color="success" (click)="aprobarEmpresa(e)"
                >Aprobar</button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-tabs [tabsInput]="tabs" (actionTriggered)="onFilterAction($event)"></app-tabs>
  </ion-card>
</ion-content>
