ion-avatar {
  height: 6vh;
  width: 6vh;
}

.table {
  width: 100%;
  border-collapse: collapse; /* Para evitar el espacio entre bordes */
  color: black; /* Color de texto */
}

.table th,
.table td {
  border: 1px solid #f7f4af; /* Agrega un borde */
  padding-left: 1vw;
  padding-right: 1vw; /* Añade relleno a las celdas */
  text-align: center; /* Alineación del texto al centro */
}

.table td ion-avatar {
  display: block; /* Asegura que el ion-avatar se trate como un bloque */
  margin: 0 auto; /* Centra el avatar en su celda */
  border: 1px solid #f7f4af;
}

/* Estilo para las filas */
.table tr {
  background-color: #fdd775; /* Color de fondo para las filas inpares */
}

.table tr:nth-child(even) {
  background-color: #fadc81; /* Color de fondo para las filas pares */
}

.table tr:hover {
  background-color: #ff9b32; /* Color de fondo cuando el cursor pasa sobre una fila */
}

/* Estilo para las cabeceras */
.table th {
  background-color: #ff9b32; /* Fondo para cabeceras */
  font-weight: bold; /* Negrita en las cabeceras */
}

/* Estilo para los filtros */
.filtros {
  width: 100%;
}
ion-card {
  position: relative;
  z-index: 1; 
}

ion-tabs {
  position: relative; 
  z-index: 2; 
}