* {
  font-size: 1.1rem;
}

ion-avatar {
  height: 6vh;
  width: 6vh;
}

.table-container {
  width: 100%;
  overflow-x: auto;  
}

.table {
  width: 100%;
  border-collapse: collapse; 
  color: black; 
  border-radius: 9%;
}

.table th,
.table td {
  border: 1px solid #f7f4af; 
  padding-left: 0.5vw;
  padding-right: 0.5vw; 
  text-align: center; 
}

.table td ion-avatar {
  display: block; 
  margin: 0 auto; 
  border: 1px solid #f7f4af;
}

/* Estilo para las filas */
.table tr {
  background-color: #fdd775; 
}

.table tr:nth-child(even) {
  background-color: #fadc81; 
}

.table tr:hover {
  background-color: #f8d469; 
}

/* Estilo para las cabeceras */
.table th {
  background-color: #ff9b32; 
  font-weight: bold; 
  color: white;
}

/* Estilo para los filtros */
.filtros {
  width: 100%;
}
ion-card {
  position: relative;
  z-index: 1; 
}

ion-tabs {
  position: relative; 
  z-index: 2; 
}