* {
  font-size: 3vh;
}

ion-item {
  font-size: 2vh;
  --background: white;
  --color: #02e7d0;
  --border-color: #02e7d0;
  &.active {
    color: var(--ion-color-warning);

    ion-icon {
      color: var(--ion-color-ligth);
    }
  }
}

ion-menu {
  --min-width: 27vw;
}

ion-icon {
  color: #02e7d0;
}

button ion-icon {
  color: white;
}

ion-list {
  padding: 0;
  border: #02e7d0 solid 1px;
  border-radius: 3%;
}
