<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="m1"></ion-menu-button>
      </ion-buttons>
      <ion-item slot="start">
        <img alt="..." src="assets/logo.png" class="logo"/>
        <ion-title>{{titulo}}</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" menuId="m1" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-item slot="start">
          <ion-title>Menu</ion-title>
          <img alt="..." src="assets/logo.png" class="logo"/>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle slot="start">
          <ion-item button [routerLink]="['/home']">Home</ion-item>
          <ion-item button [routerLink]="['/login']">Login</ion-item>
          <ion-item button [routerLink]="['/opina']">Opina!</ion-item>
          <ion-item button [routerLink]="['/admin']">Admin</ion-item>
          <ion-item button [routerLink]="['/codigo']">Ingresar código</ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>