<ion-app
  ><ion-menu
    *ngIf="usuario()"
    side="start"
    menuId="m1"
    contentId="main"
    swipe-gesture="false"
  >
    <app-header titulo="QueOpinas?"></app-header>
    <ion-content class="ion-padding">
      <ion-list>
          <ion-item>
            <ion-icon name="person-circle-outline"></ion-icon>
            {{ usuario()?.email }}
          </ion-item>
      </ion-list>

      <ion-list lines="none">
        <ion-menu-toggle
          slot="start"
          autoHide="false"
          *ngFor="let p of paginas"
        >
          <ion-item
            [ngClass]="{ active: rutaActual === p.url }"
            [routerLink]="p.url"
            routerDirection="root"
            detail
          >
            <ion-icon slot="start" [name]="p.icono"></ion-icon>
            <ion-label>{{ p.titulo }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

    <ion-footer class="ion-no-border safe-p-bottom">
      <ion-item *ngIf="usuario()" lines="none">
        <app-boton texto="Cerrar sesión" icono="log-out-outline" (click)="logout()"></app-boton>
      </ion-item>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
