<ion-content>
  <!--Titulo-->
  <ion-item class="ion-text-center">
    <ion-title>Modificar Encuesta</ion-title>
    <button shape="round" fill="clear" (click)="cerrarModal()">
      <ion-icon
        color="danger"
        slot="icon-only"
        size="large"
        name="close-circle-outline"
      ></ion-icon>
    </button>
  </ion-item>
  <!--logo-->
  <ion-item *ngIf="empresa.logo;else sinLogo">
    <img class="logo" alt="..." [src]="empresa.logo" />
  </ion-item>
  <ng-template #sinLogo>
    <ion-item>
      <img class="logo" src="../../../assets/placeholder.png">
    </ion-item>
  <!--Encuesta-->
  </ng-template>
  <form [formGroup]="modificarEncuesta">

    <ion-item>
      <ion-input
        formControlName="pregunta"
        label="Ingrese la pregunta de la Encuesta:"
        labelPlacement="stacked"
        type="text"
        minlength="1"
        errorText="pregunta inválida."
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col col="4">
            <button
              color="dark"
              shape="round"
              fill="outline"
              [disabled]="!modificarEncuesta.valid"
              (click)="submit()"
              >Modificar</button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-content>
