<ion-content>
  <div class="logo-area">
    <ion-button
      shape="round"
      fill="clear"
      (click)="cerrarModal()"
      class="boton-cerrar"
    >
      <ion-icon
        slot="icon-only"
        size="large"
        name="close-circle-sharp"
      ></ion-icon>
    </ion-button>
    <ion-avatar *ngIf="empresa.logo; else sinLogo" class="card-avatar">
      <img [src]="empresa.logo" class="card-logo" />
    </ion-avatar>
    <ng-template #sinLogo>
      <ion-avatar>
        <img src="../../../assets/placeholder.png" class="card-logo" />
      </ion-avatar>
    </ng-template>
  </div>
  <ion-card class="area-texto">
    <ion-card-title>Modificar Encuesta</ion-card-title>

    <!--Encuesta-->
    <form [formGroup]="modificarEncuesta">
      <ion-input
        formControlName="pregunta"
        label="Ingrese la pregunta de la Encuesta:"
        labelPlacement="stacked"
        type="text"
        minlength="1"
        errorText="pregunta inválida."
      ></ion-input>

      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col col="4">
            <button
              color="dark"
              shape="round"
              fill="outline"
              [disabled]="!modificarEncuesta.valid"
              (click)="submit()"
            >
              Modificar
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
