<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-item slot="start">
      <img alt="..." src="assets/logo.png" class="logo"/>
      <ion-title>Encuesta por código</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-card>
    
    <ion-thumbnail>
      <img alt="..." src="assets/logo.png"/>
    </ion-thumbnail>

    <form [formGroup]="codigoForm">
      <ion-grid>
        <ion-row class="ion-text-center">
            <ion-input
            formControlName="codigo"
            label="Ingrese el código:" labelPlacement="stacked" 
            helperText="(6 digitos)"
            minlength="6" 
            maxlength="6"
            type="tel"   
            errorText="Código incorrecto (6 digitos)"
            [required]="true">
            </ion-input>
        </ion-row>

        <ion-row>
          <ion-button 
            [routerLink]="['/opina']"
            [disabled]="!codigoForm.valid"
            >Enviar</ion-button>
        </ion-row>
        
      </ion-grid>
    </form>


  </ion-card>


</ion-content>
