* {
  font-size: 2.5vh;
}

ion-card {
  width: 80vw;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-height: 60vh;
}

.logo {
  height: 4vh;
  border-radius: 50%;
}

.logoMain {
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ion-button {
  min-width: 25vw;
  --background: #00446d;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-input {
  width: 60vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-item {
  padding-bottom: 3vh;
}

ion-title {
  text-align: center;
  font-size: 3vh;
}
