<ion-content>
  <app-header titulo="Encuesta por Código"></app-header>
  <ion-card>

    <ion-item>
      <img class="logoMain" alt="..." src="assets/logo.png" />
    </ion-item>

    <form [formGroup]="codigoForm">
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-input
            formControlName="codigo"
            label="Ingrese el código:"
            labelPlacement="stacked"
            helperText="(6 digitos)"
            min="100000"
            max="999999"
            type="number"
            errorText="Código incorrecto (6 digitos)"
            [required]="true"
          >
          </ion-input>
        </ion-row>

        <ion-row>
          <ion-button
            color="primary"
            shape="round"
            fill="outline"
            [routerLink]="['/opina']"
            [disabled]="!codigoForm.valid"
            >Enviar</ion-button
          >
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
