<ion-content>
  <app-header titulo="Admin"></app-header>

  <ion-item>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col col="5" size="default">
          <app-boton
            texto="Registrar Admin"
            icono="person-add-outline"
            (click)="mostrarRegistroAdmin()"
          ></app-boton>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <div *ngIf="loadingData">Cargando datos...</div>

  <div *ngIf="!loadingData">
    <ion-list>
      <ion-title>Administradores</ion-title>
      <ion-item-sliding *ngFor="let a of admins">
        <ion-item lines="none">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>{{a.email}}</ion-label>
          <ion-label color="medium" slot="end">
            Desliza
            <ion-icon
              color="medium"
              slot="end"
              name="chevron-back-outline"
            ></ion-icon>
          </ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="success" (click)="mostrarModificarAdmin(a)">
            <ion-icon slot="start" name="create-outline"></ion-icon>
            Modificar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
