<ion-content>
  <!--Titulo-->
  <ion-item class="ion-text-center">
    <ion-title>Registro Admin</ion-title>
    <ion-button shape="round" fill="clear" (click)="cerrarModal()">
      <ion-icon
        color="danger"
        slot="icon-only"
        size="large"
        name="close-circle-outline"
      ></ion-icon>
    </ion-button>
  </ion-item>
  <!--Logo-->
  <ion-item>
    <img class="logo" alt="..." src="assets/logo.png" />
  </ion-item>
  <form [formGroup]="registroAdmin">
    <ion-item>
      <!--Correo-->
      <ion-input
        formControlName="email"
        label="Ingrese su correo: "
        labelPlacement="stacked"
        minlength="3"
        maxlength="25"
        errorText="Correo inválido."
        helperText="Formato Email(@ y .)"
      >
      </ion-input>
    </ion-item>
    <!--Empresa-->
    <ion-item>
      <ion-select
        formControlName="empresa"
        interface="popover"
        placeholder="Seleccione la empresa:"
      >
        <ion-select-option *ngFor="let e of empresas" value="{{ e.id }}">
          {{ e.nombreEmpresa }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <!--Contraseña-->
    <ion-item>
      <ion-input
        formControlName="password"
        label="Ingrese la contraseña:"
        labelPlacement="stacked"
        type="password"
        maxlength="10"
        errorText="Contraseña inválida."
        helperText="Largo 4"
      ></ion-input>
    </ion-item>

    <ion-item>

      <ion-toggle (ionChange)="cambiarRol()" labelPlacement="start">¿Admin de empresa?</ion-toggle>

    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col col="4">
            <ion-button
              color="dark"
              shape="round"
              fill="outline"
              (click)="submit()"
              [disabled]="!registroAdmin.valid"
              >Registrar</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-content>
