<ion-content>
  <div class="logo-area">
    <ion-button
      shape="round"
      fill="clear"
      (click)="cerrarModal()"
      class="boton-cerrar"
    >
      <ion-icon
        slot="icon-only"
        size="large"
        name="close-circle-sharp"
      ></ion-icon>
    </ion-button>
    <ion-avatar class="card-avatar">
      <img src="../../../assets/logo.png" class="card-logo" />
    </ion-avatar>
  </div>
  <ion-card class="area-texto">
    <!--Titulo-->
    <ion-card-title>Registro Admin</ion-card-title>

    <form [formGroup]="registroAdmin">
      <!--Correo-->
      <label>Ingrese su correo:</label>
      <ion-input
        formControlName="email"
        minlength="3"
        maxlength="25"
        errorText="Correo inválido."
        helperText="Formato Email(@ y .)"
      >
      </ion-input>

      <!--Empresa-->

      <ion-select
        formControlName="empresa"
        interface="popover"
        placeholder="Seleccione la empresa:"
      >
        <ion-select-option *ngFor="let e of empresas" value="{{ e.id }}">
          {{ e.nombreEmpresa }}
        </ion-select-option>
      </ion-select>

      <!--Contraseña-->
      <label>Ingrese la contraseña:</label>
      <ion-input
        formControlName="password"
        type="password"
        minlength="6"
        maxlength="20"
        errorText="Contraseña inválida."
        helperText="Largo minimo 6 y máximo 20"
      ></ion-input>

      <ion-toggle (ionChange)="cambiarRol()" labelPlacement="start"
        >¿Admin de Sistema?</ion-toggle>

      <button class="enviar" (click)="submit()" [disabled]="!registroAdmin.valid">
        Registrar
      </button>
    </form>
  </ion-card>
</ion-content>
