// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
ion-content{
    --ion-background-color:white;
}

body.barcode-scanning-active{
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}

.barcode-scanning-modal{
    visibility: visible;
}

@media (prefers-color-scheme: light) {
    .barcode-scanning-active{
    visibility: hidden;
    --background: transparent;
    --ion-background-color: transparent;
}
}