<ion-content>
  <app-header titulo="Admin"></app-header>
  

    <ion-item>Vista de encuesta:</ion-item>
    <ion-card>
      <ion-list class="ion-text-center">
        <!--Tipo de opinión-->
        <ion-item class="ion-text-center" *ngIf="encuesta">
          <ion-label>{{encuesta.pregunta}} </ion-label>
        </ion-item>
        <div id="emoji">
          <label id="feliz">😁</label>
          <label id="triste">😢</label>
          <label id="enojado">😡</label>
  
        </div>
        <!--Comentario-->
        <ion-item>
          <ion-textarea
            label="Dejenos su comentario:"
            labelPlacement="stacked"
            [counter]="true"
            maxlength="100"
            helperText="Largo máximo 100"
            [disabled]="true"
          >
          </ion-textarea>
        </ion-item>
  
        <ion-item>
          <ion-button
            color="primary"
            shape="round"
            fill="outline"
            disabled
            >Sube tu evidencia!</ion-button
          >
        </ion-item>
  
        <ion-item>
          <ion-button
            color="primary"
            shape="round"
            fill="outline"
            disabled
            >Enviar</ion-button
          >
        </ion-item>
      </ion-list>
    </ion-card>


  <ion-item *ngIf="encuesta">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col col="5" size="default">
          <ion-button
            color="primary"
            shape="round"
            fill="outline"
            (click)="modificarEncuesta(encuesta)"
            >Modificar Encuesta</ion-button
          >
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
