<ion-content>
  <app-header titulo="Admin"></app-header>
  <ion-card>
    <ion-item>
      <ion-grid style="border: groove">
        <ion-row style="border-bottom: groove">
          <ion-col col-3>
            <ion-label>N° Opinión</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Emoji</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Opinión</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Foto</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove">
          <ion-col col-3>
            <ion-label>1</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Feliz</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Muy Weno</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Foto</ion-label>
          </ion-col>
        </ion-row>
        <ion-row style="border-bottom: groove">
          <ion-col col-3>
            <ion-label>2</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Feliz</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Es lo más mejor</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Foto</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3>
            <ion-label>3</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>Triste</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>uWu</ion-label>
          </ion-col>
          <ion-col col-3>
            <ion-label>...</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col col="5" size="default">
            <ion-button
              color="primary"
              shape="round"
              fill="outline"
              (click)="modificarEncuesta()"
              >Modificar Encuesta</ion-button
            >
          </ion-col>
          <ion-col col="5" size="default">
            <ion-button
              color="primary"
              shape="round"
              fill="outline"
              (click)="registrarEncuesta()"
              >Registrar Encuesta</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
</ion-content>
