<ion-content>
  <app-header titulo="Admin"></app-header>

  <ion-item *ngIf="usuario">
    <ion-label>{{usuario.email}}</ion-label>
  </ion-item>

  <ion-item *ngIf="empresa">
    <ion-label>{{empresa.nombreEmpresa}}</ion-label>
    <ion-avatar slot="start">
      <img [src]="empresa.logo">
    </ion-avatar>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col col="5" size="default">
          <ion-button
            color="primary"
            shape="round"
            fill="outline"
            (click)="modificarEncuesta()"
            >Modificar Encuesta</ion-button
          >
        </ion-col>
        <ion-col col="5" size="default">
          <ion-button
            color="primary"
            shape="round"
            fill="outline"
            (click)="registrarEncuesta()"
            >Registrar Encuesta</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
