<ion-content>
  <app-header titulo="Home"></app-header>
  <ion-card>
    <!--Logo-->
    <ion-item>
      <img class="logoMain" alt="..." src="assets/logo.png" />
    </ion-item>
    <ion-item class="ion-text-center">
      <ion-label>
        Seleccione su método de ingreso a la encuesta:
      </ion-label>
    </ion-item>
    <!--Botones QR y código, centrados con grid-->
    <ion-item>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col col="6">
            <ion-button
              >Escanear QR&nbsp;
              <ion-icon name="qr-code-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col col="6">
            <ion-button [routerLink]="['/codigo']"
              >Ingresar código&nbsp;
              <ion-icon name="code-working-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <!--Contacto-->
  <ion-grid class="footer">
    <ion-row>
      <ion-col>
        <ion-title>Contactos:</ion-title>
        <br />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Whatsapp:</ion-col>
      <ion-col>+123456789</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Correo:</ion-col>
      <ion-col>correo&commat;corre.ito</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Página Web:</ion-col>
      <ion-col>www.QueOpinas.cl</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
