* {
  font-size: 1.5rem;
}

ion-card-title {
  color: white;
  font-size: 2rem;
}

.button-col {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .ion-row {
    display: flex;
    flex-direction: column;  
  }
  
  .button-col {
    width: 100%;  
    margin-bottom: 1rem; 
  }
}
