ion-card {
  width: 60vw;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.logo{
  height: 4vh;
  border-radius: 50%;
}

ion-thumbnail {
  --size: 40vh;
  --border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ion-button {
  width: 20vw;
  font-size: 1.5vh;
}