<ion-content>
  <app-header titulo="Home"></app-header>

  <div class="page-logo-area">
    <ion-avatar class="card-avatar">
      <img src="../../../assets/logo.png" class="card-logo" />
    </ion-avatar>
    <ion-card-title *ngIf="usuario">
      Bienvenido {{usuario.email}}
    </ion-card-title>
  </div>

  <ion-card class="page-card">
    <ion-card-header>
      Seleccione su método de ingreso a la encuesta:
    </ion-card-header>

    <!-- Contenedor de los botones -->
    <div class="button-container">
      <div *ngIf="isMobile; else disable">
        <button class="action-button" (click)="scannerQR()">
          Escanear QR&nbsp;
          <ion-icon name="qr-code-outline"></ion-icon>
        </button>
      </div>
      <ng-template #disable>
        <button class="action-button" style="background: #ff922b9d" disabled="true">
          Escanear QR&nbsp;
          <ion-icon name="qr-code-outline"></ion-icon>
        </button>
      </ng-template>

      <button class="action-button" style="background: #ff932b" [routerLink]="['/home/codigo']">
        Ingresar código&nbsp;
        <ion-icon name="code-working-outline"></ion-icon>
      </button>
    </div>
  </ion-card>
</ion-content>
