<ion-content >
  <ion-card>
    <div *ngIf="estado == 'correcto'">
      <p>Bienvenido {{usuario}}</p>
    </div>
    <ion-thumbnail>
      <img alt="..." src="assets/logo.png" />
    </ion-thumbnail>

    <div style="display: flex; justify-content: center; padding: 20px;">
      <ion-button slot="start">Escanear QR</ion-button>
      <ion-button [routerLink]="['/codigo']">Ingresar código</ion-button>
    </div>
  
    <ion-item> 
      <ion-title>Contactos:</ion-title>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>Whatsapp:</ion-col>
          <ion-col>+123456789</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Correo:</ion-col>
          <ion-col>correo&commat;corre.ito</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Página Web:</ion-col>
          <ion-col>www.QueOpinas.cl</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-card>
</ion-content>