<ion-content>
  <div class="logo-area">
    <ion-button
      shape="round"
      fill="clear"
      (click)="cerrarModal()"
      class="boton-cerrar"
    >
      <ion-icon
        slot="icon-only"
        size="large"
        name="close-circle-sharp"
      ></ion-icon>
    </ion-button>
    <ion-avatar class="card-avatar">
      <img src="../../../assets/logo.png" class="card-logo" />
    </ion-avatar>
  </div>
  <!--Form-->
  <ion-card class="area-texto">
    <ion-card-title>Recordar contraseña</ion-card-title>
    <form [formGroup]="emailForm">
      <!--Input de correo de recuperación-->
      <label>Ingrese su correo de recuperación:</label>
      <ion-input
        formControlName="email"
        type="email"
        placeholder="email@domain.com"
        errorText="Correo incorrecto"
        [required]="true"
      ></ion-input>
      <!--Botón 'Enviar' que se activa al ingresar un correo correcto-->

      <button class="enviar"
        [routerLink]="['/login']"
        [disabled]="!emailForm.valid"
        (click)="submit()">
        Enviar
      </button>
    </form>
  </ion-card>
</ion-content>
