<ion-content [fullscreen]="true">
  <ion-card>

    <ion-item>
      <img class="logoMain" alt="..." src="assets/logo.png" />
    </ion-item>

    <form [formGroup]="emailForm">
      <ion-grid>
        <ion-row class="ion-text-center">
            <ion-input
            formControlName="email"
            label="Ingrese su correo de recuperación:" labelPlacement="stacked" 
            type="email"
            placeholder="email@domain.com"   
            errorText="Correo incorrecto"
            [required]="true"
            ngModel>
            </ion-input>
        </ion-row>

        <ion-row class="ion-text-center">
          <ion-col col="4">
            <ion-button 
            [routerLink]="['/login']"
            [disabled]="!emailForm.valid"
            >Enviar</ion-button>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </form>
</ion-card>
</ion-content>
