<ion-content>
  <!--Titulo-->
  <ion-item class="ion-text-center">
    <ion-title>Modificar Empresa</ion-title>
    <ion-button shape="round" fill="clear" (click)="cerrarModal()">
      <ion-icon
        color="danger"
        slot="icon-only"
        size="large"
        name="close-circle-outline"
      ></ion-icon>
    </ion-button>
  </ion-item>
  <!--Logo-->
  <ion-item *ngIf="empresa.logo;else sinLogo">
    <img class="logo" alt="..." [src]="empresa.logo" />
  </ion-item>
  <ng-template #sinLogo>
    <ion-item>
      <img class="logo" src="../../../assets/placeholder.png">
    </ion-item>
  </ng-template>
  <!--Formulario-->
  <form [formGroup]="modificarEmpresa">
    <ion-item>
      <ion-input
        formControlName="nombreEmpresa"
        label="Ingrese el nombre de la empresa:"
        labelPlacement="stacked"
        type="text"
        minlength="1"
        errorText="Nombre inválido."
        helperText="---"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-avatar *ngIf="modificarEmpresa.value.logo">
        <img [src]="modificarEmpresa.value.logo" />
      </ion-avatar>
      <ion-button color="dark" shape="round" fill="outline" (click)="logo()"
        >Sube tu logo</ion-button
      >
    </ion-item>

    <ion-item>
      <ion-select label="Estado" label-placement="stacked" formControlName="estado">
        <ion-select-option value="0">Aprobado</ion-select-option>
        <ion-select-option value="1">En espera</ion-select-option>
        <ion-select-option value="2">Rechazado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row class="ion-text-center">
          <ion-col col="4">
            <ion-button
              color="dark"
              shape="round"
              fill="outline"
              [disabled]="!modificarEmpresa.valid"
              (click)="submit()"
              >Modificar</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-content>
