<ion-content>
  <!--Titulo-->
  <ion-item class="ion-text-center">
    <ion-title>Modificar Empresa</ion-title>
    <ion-button shape="round" fill="clear" (click)="cerrarModal()">
      <ion-icon
        color="danger"
        slot="icon-only"
        size="large"
        name="close-circle-outline"
      ></ion-icon>
    </ion-button>
  </ion-item>
  <!--Logo-->
  <ion-item *ngIf="empresa.logo;else sinLogo">
    <img class="logo" alt="..." [src]="empresa.logo" />
  </ion-item>
  <ng-template #sinLogo>
    <ion-item>
      <img class="logo" src="../../../assets/placeholder.png">
    </ion-item>
  </ng-template>
  <!--Formulario-->
  <form [formGroup]="modificarEmpresa">
    <ion-item>
      <ion-input
        formControlName="nombreEmpresa"
        label="Ingrese el nombre de la empresa:"
        labelPlacement="stacked"
        type="text"
        minlength="1"
        errorText="Nombre inválido."
        helperText="---"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col="1">
            <!--Logo-->
            <ion-row>
              <ion-col>
                <ion-avatar *ngIf="modificarEmpresa.value.logo;else placeHolder">
                  <img [src]="modificarEmpresa.value.logo" />
                </ion-avatar>
                <ng-template #placeHolder>
                  <ion-avatar>
                    <img src="../../../assets/placeholder.png" />
                  </ion-avatar>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col col="11">
            <ion-row>
              <ion-row class="ion-text-center">
                <!--Botón subir logo-->
                <ion-col col="6">
                  <app-boton icono="arrow-up-circle-outline" texto="Sube tu logo" (click)="logo()"></app-boton>
                </ion-col>
                <!--Botón modificar-->
                <ion-col col="6">
                  <app-boton icono="add-circle-outline" texto="Modificar" (click)="submit()"></app-boton>
                </ion-col>
              </ion-row>
            </ion-row>
              
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-content>
