<ion-content>
  <app-header titulo="Admin"></app-header>

  <ion-item>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col col="5" size="default">
          <app-boton
            texto="Registrar Admin"
            icono="person-add-outline"
            (click)="mostrarRegistroAdmin()"
          ></app-boton>
        </ion-col>
        <ion-col col="5" size="default">
          <app-boton
            texto="Registrar empresa"
            icono="business-outline"
            (click)="mostrarRegistroEmpresa()"
          ></app-boton>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-list>Empresas
    
    <ion-item-sliding *ngFor="let e of empresas">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img [src]="e.logo" />
        </ion-avatar>
        <ion-label>{{e.nombreEmpresa}}</ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="dark">
          <app-boton
            texto="Modificar Empresa"
            icono="create-outline"
            (click)="mostrarModificarEmpresa(e)"
          ></app-boton>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding *ngFor="let a of admins">
      <ion-item lines="none">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{a.email}}</ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="dark">
          <app-boton
            texto="Modificar Admin"
            icono="create-outline"
            (click)="mostrarModificarAdmin(a)"
          ></app-boton>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
