.gsi-material-button {
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #131314;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 2vh;
  /* Eliminado el alto fijo, esto permite que se ajuste al contenedor */
  height: auto;
  letter-spacing: 0.25px;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;  /* Esto hace que el ancho se adapte al contenedor */
  max-width: 100%;  /* O puedes eliminar max-width y min-width si no deseas restricciones */
  min-width: 0;  /* Permite que el ancho se ajuste sin limitaciones */
}

.gsi-material-button .gsi-material-button-icon {
  height: max-content;
  margin-right: 1vw;
  min-width: min-content;
  width: 2vw;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
