/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

// Colores //
$Verde: #00bd94;
$Naranjo: #ff932b;
//Estilos globales:
.logo {
  height: 30vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
// Estilos Modal //

.card-logo {
  border: 2px solid white;
  border-radius: 50%;
  object-fit: contain; 
}

.input-logo {
  border: 3px solid $Verde;
  border-radius: 50&;
  object-fit: contain;
}

.card-avatar {
  margin: 0 auto;
  display: block;
  height: 5em;
  width: 5em;
}

.logo-area {
  background-color: $Verde;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  display:flex;
  justify-content: center; 
  align-items: center;
}

.area-texto {
  background-color: white;
  color: #000;
  margin: 0;
  padding-bottom: 1em;
}

.boton-cerrar{
  position: absolute;
  top: 10px; 
  right: 10px; 
  z-index: 1; 
}

.boton-cerrar ion-icon {
  color: #ff0e4c; /* Asigna el color al icono */
}

.qr {
  background-color: white;
  text-align: center;
  margin: 0 auto;
  display: block;
}

ion-card-title{
  color: #000;
}

ion-card-title,
ion-card-content {
  text-align: center; 
  font-size: 1.5rem;
}

//------------------------------------------------------------------------------//

/*ion-card {
  width: 95vw;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-height: 50vh;
  background-color: #fdd775;
}*/

form ion-item {
  max-width: 100vw;
}

// Estilo para los botones //
$button-text: #ffffff;
$regular-text: #333;
$button-tint: fadeout(#000, 90%);
$background: #303036;

button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.8em 0.4em;
  border: none;
  color: white;
  transition: 0.2s;
  font-size: 1.2em;
  width: auto;
  white-space: nowrap;
  margin: 0.5em;

  ion-icon {
    font-size: 1.2em;
    margin-left: 0.5em;
  }

  &:hover {
    filter: brightness(0.9); /* Oscurece el color */
  }

  &:active,
  &:focus {
    filter: brightness(0.7); /* Oscurece aún más */
    outline: none;
  }
}

button .text {
  text-align: center;
  flex-grow: 1;
  display: inline-block;
}
