* {
  font-size: 1.5rem;
}

.contacto-img {
  width: 100%; 
  height: auto; 
  max-width: 100%; 
  display: block;
}

.contacto-row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

ion-list {
  background: white;
  border-radius: 13%;
}

ion-item {
  --background: #02e7d0;
  --border-color: white;
}

ion-icon {
  color: #ff932b;
}

@media (max-width: 768px) {
  * {
    font-size: 1.1rem; 
  }
}

@media (max-width: 480px) {
  .contacto-row {
    flex-direction: column; 
  }

  ion-col {
    width: 100%; 
  }
}
